﻿@using VacationPlanning.MailNotifier.Template.Emails.ConfirmVacationCreateOrder
@using VacationPlanning.MailNotifier.Template.Shared
@model ConfirmVacationCreateOrderViewModel

@{
    ViewData["EmailTitle"] = "Очередной отпуск";
}



<br />
<p>
    @Model.body
</p>
<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Подтвердить", Model.ConfirmGuid))

<br />

<p>
    В случае возникновения любых аопросов, обращайтесь в HR
</p>


