﻿@page "/testdb"

@inject HttpClient httpclient;
@using VacationPlanning.API.Staffing.Core.Entities
@inherits DocumentBase

<PageTitle>Тут тест запроса из БД</PageTitle>

<h1>Тест БД</h1>

<p>This component demonstrates fetching data from the server.</p>


@if (Documents == null)
{
    <h3>Загрузка данных</h3>
}
else
{
    <h3 class="mb-5">Document</h3>

    var doc = Documents.Count();
    <h4>@doc.ToString()</h4>

    @if (doc > 0)
    {
         <table class="table">
             <thead>
             <tr>
                 <th>ID</th>
                 <th>DocumentName</th>
                 <th>DocumentTemplate</th>
                 <th>VacationTypeId </th>

             </tr>
             </thead>
             <tbody>
             @foreach (var d in Documents)
             {
                 <tr>
                     <th>@d.Id.ToString()</th>
                     <td>@d.DocumentName</td>
                     <td>@d.DocumentTemplate</td>
                     <td>@d.VacationTypeId.ToString()</td>

                 </tr>
             }

             </tbody>
         </table>
    }


}

